.mainpage {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 50%, #cad3e7 100%);
  text-align: center;
  color: #111;
  margin: 0;      
  min-height: 100vh;
}

.subpage1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 50%, #b4ebdd 100%);
  text-align: center;
  color: #111;
  margin: 0;      
  min-height: 100vh;
}

.subpage2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 70%, #ebddff 100%);
  text-align: center;
  color: #111;
  margin: 0;      
  min-height: 100vh;
}

header h1{
  color: rgb(0, 0, 0);
  margin-top: 100px;
}

.subtitle {
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: normal;
  padding: 20px;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: left;
  th, td {
  border: 1px solid #ccc;
}
  td:first-child {
    width: 150px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
  background-color: #ffffff;
}

th, td {
  border: 1px solid #000;
  padding: 8px 12px;
  text-align: left;
}

.text-frame {
  display: inline-block;
  width: 600px;
  height: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px;
  text-align: left;
  line-height: 130%;
}
.text-frame p:first-of-type {
  font-weight: bold;
}

button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(92, 92, 92, 0.2);
}

#final-title {
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}